.section-input {
    position: relative;
    display: flex;
    grid-gap: 0;
    margin: 0;
    padding: 0;
    min-width: 300px;
    width: 25%;
    height: 100%;
    box-shadow: 5px 50px 10px rgb(0, 0, 0, 0.2);
    z-index: 1;
}

.section-input-prefix-div {
    width: 50px;
    height: 50px;
    font-family: sans-serif;
    background: #ffffff;
    margin: 0 2px;
    padding: 0;
    display: inherit;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.section-input-prefix-span {
    font-size: 1.25em;
    transition: transform 0.2s;
}

    .section-input-prefix-div.effect-hover:hover .section-input-prefix-span {
        transform: rotate(90deg);
    }

.input-todo {
    height: 50px;
    border: none;
    padding: 0;
    padding-left: 10px;
    margin: 0;
    width: calc(100% - 50px);
    outline: none;
    font-size: 100%;
    border-radius: 4px;
}

.section-footer {
    position: absolute;
    left: 0;
    bottom: 30px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

.section-footer-p {
    position: relative;
    width: fit-content;
    padding: 10px;
    margin: 0 auto;
    font-size: 50%;
    color: dimgray;
    text-shadow: 4px 4px 2px rgb(0,0,0, 0.2);
}
