#my-heading{
    color: red;
    border: 2px dashed black;
    text-align: center;
    font-size: 50px;
    letter-spacing: 10px;
    width: max-content;
    height: max-content;
    margin: 0px auto;
    text-shadow: 3px 3px 2px black;
}
#my-heading:hover{
    color: green;
}

body {
    font-family: "Ubuntu", sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 25px;
    background: #dddddd;
    grid-gap: 0;
}

.section-input {
    position: relative;
    display: flex;
    grid-gap: 0;
    margin: 0;
    padding: 0;
    width: max(25%, 300px);
    height: 100vh;
    box-shadow: 5px 50px 10px rgb(0, 0, 0, 0.2);
}

.section-input-prefix-img {
    width: 50px;
    height: 50px;
    font-family: sans-serif;
    background: #ffffff;
    margin: 0;
    padding: 0;
}

.input-todo {
    height: 50px;
    border: none;
    /*    padding: 0 0 0 50px; */
    padding: 0;
    margin: 0;
    width: calc(100% - 50px);
    outline: none;
    font-size: 100%;
}

.section-footer{
    position: absolute;
    bottom: 30px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    
}

.section-footer-p{
    position: relative;
    width: fit-content;
    padding: 10px;
    margin: 0 auto;
    font-size: 50%;
    color: dimgray;
    text-shadow: 4px 4px 2px rgb(0,0,0, 0.2);
}

.section-folders{
    width: calc(100% - max(300px, 25%));
    height: 50px;
    display: flex;
    grid-gap: 0;
    box-shadow: 0px 5px 10px rgb(0,0,0,0.2);
}

.folder-div{
    position: relative;
    display: flex;
    align-items: center;
    height: inherit;
    width: max(fit-content, 50px);
    margin: 0;
    margin-left: 2px;
    background: #ffffff;
}
.folder-label{
    color: dimgray;
    width: fit-content;
    height: fit-content;
    padding: 0;
    margin: 10px;

}

