.working-area-div {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.section-folders {
    width: 100%;
    height: 50px;
    display: flex;
    grid-gap: 0;
    box-shadow: 0px 5px 10px rgb(0,0,0,0.2);
}

.folder-radio-representation-label {
    color: dimgray;
    height: inherit;
    min-width: 50px;
    padding: 0;
    margin: 0;
    margin-left: 2px;
}

.folder-radio {
    display: none;
}

.folder-radio:checked + .folder-radio-representation-span {
    background: #ded;
}

.folder-radio-representation-span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 100%;
    padding: 0 1em;
    /*margin: 0 1em;*/
    background: #ffffff;
    border-radius: 4px;
}

.folder-div {
    position: relative;
    display: flex;
    align-items: center;
    height: inherit;
    width: max(fit-content, 50px);
    margin: 0;
    margin-left: 2px;
    background: #ffffff;
    border-radius: 4px;
}

.folder-label {
    color: dimgray;
    width: fit-content;
    height: fit-content;
    padding: 0;
    margin: 10px;
}

.todo-list-div {
    margin: 0, auto;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    overflow-y: auto;
}

.todo-list-ul {
    list-style: none;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.checkbox-input {
    display: none;
}

    .checkbox-input + .todo-checkbox-representation-span {
        border: 3px solid;
        border-color: #b4b4b4;
    }

    .checkbox-input:checked + .todo-checkbox-representation-span {
        background-color: #5077fc;
        border-color: #5077fc;
    }

        .checkbox-input:checked + .todo-checkbox-representation-span:after {
            background-color: #5077fc;
            border-color: #5077fc;
            transform: scale(1);
        }

.todo-checkbox-representation-label {
    cursor: pointer;
    margin: 10px 10px;
}

    .todo-checkbox-representation-label:hover .todo-checkbox-representation-span,
    .todo-checkbox-representation-label:hover .todo-checkbox-representation-span::after {
        background-color: #5095fc;
        border-color: #5095fc;
    }


.todo-checkbox-representation-span {
    width: 1.25em;
    height: 1.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25%;
    transition: background 0.15s, border-color 0.15s;
}


    .todo-checkbox-representation-span:after {
        content: '\2714';
        color: white;
        transform: scale(0);
        transition: transform 0.15s, background-color 0.15s;
    }

.todo-list-ul li {
    width: 50%;
    min-width: 300px;
    min-height: 50px;
    background-color: white;
    padding: 0;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
    transition-duration: 0.3s;
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    border-radius: 5px;
}

    .todo-list-ul li:hover {
        background-color: #eee;
    }

.todo-task-span {
    text-align: left;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0.6em;
    font-size: 1em;
    word-wrap: anywhere;
}

.todo-task-remove-button {
    position: absolute;
    right: 3px;
    top: 3px;
    color: #a85e5ebc;
    border: none;
    background-color: #00000000;
    float: right;
}

.todo-task-remove-button:hover {
    color: #922727;
}

@media screen and (max-width: 600px) {
    .todo-task-span:before {
        background-color: blue;
    }
}
